<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/material.min.js"></script>
</head>
<body>
    <form action="/users/add">
        <label for="item">item</label>
        <input type="text" name="item" class="item" id="item">
        <label for=""></label>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--colored">Button</button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored">
            <i class="material-icons">share</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Button
        </button>
    </form>
</body>
</html>