<!doctype html>
<html lang="zh-cmn-Hans" style="height: 100%;width: 100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Three Points</title>
  <link rel="stylesheet" href="/css/game.css">
</head>
<body>
  <canvas id="canvas"></canvas>
  <script data-main="/js/game/game" src="/js/require.js"></script>
</body>
</html>